{% extends 'base.html' %}

{% block title %}Create Thread{% endblock %}

{% block content %}
<h1>Create Thread</h1>

<form method="POST" action="{{ url_for('create_thread_page', forum_id=forum_id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.thread_title.label(class="form-label") }}
        {{ form.thread_title(class="form-control") }}
        {% for error in form.thread_title.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.thread_content.label(class="form-label") }}
        {{ form.thread_content(class="form-control") }}
        {% for error in form.thread_content.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endblock %}