{% extends 'base.html' %}

{% block title %}Forum Details{% endblock %}

{% block content %}
<h1>{{ forum['Title'] }}</h1>

<h2>Threads</h2>
{% if threads %}
    <ul>
        {% for thread in threads %}
            <li>
                <a href="{{ url_for('thread_page', thread_id=thread['ThreadId']) }}">{{ thread['Title'] }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No threads available.</p>
{% endif %}

<a href="{{ url_for('create_thread_page', forum_id=forum['ForumId']) }}" class="btn btn-primary">Create Thread</a>
{% endblock %}