<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('dashboard_page') }}">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% if 'user' in session %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard_page') }}">Dashboard</a>
          </li>
          {% if session['user']['Role'] == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register_page') }}">Register</a>
          </li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if 'user' in session %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>