{% extends 'base.html' %}

{% block title %}Reports{% endblock %}

{% block content %}
<h1>Reports</h1>

<ul>
    <li><a href="{{ url_for('high_enrollment_report_page') }}">Courses with High Enrollment</a></li>
    <li><a href="{{ url_for('top_students_report_page') }}">Top Performing Students</a></li>
    <li><a href="{{ url_for('high_load_lecturers_report_page') }}">Lecturers with High Course Load</a></li>
    <li><a href="{{ url_for('high_load_students_report_page') }}">Students with High Course Load</a></li>
</ul>
{% endblock %}